
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.preloader {
    background-color: whitesmoke;
    height: 100vh;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center
}

.preloader.enter_pre {
    display: none;
}

img {
    width: 200px;
    height: 200px;
    animation: animate 4s infinite;
}

@keyframes animate {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(50px)
    }
}

